body{
    background-color: rgb(41,44,47);
    color:white;
}
.w8qArf .fl{
    color:white !important;
}
.kno-ecr-pt{
    color:white;
}
.RNNXgb{
    background-color: rgb(41,44,47);
}
.gLFyf{
    color:white;
}
.Ss2Faf{
    color:white;
}
#appbar{
    background:rgb(41,44,47);
}
.s{
    color:white;
}
.s .st em, .st.s.std em{
    color:white;
}
#resultStats{
    color:white;
}
.P1usbc{
    color:white;
}
a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu{
    color: #13a2ff;
}
#brs .med{
    color:white;
}
#foot #navcnt .cur{
    color:white;
}
#foot #navcnt a{
    color: #13a2ff;
}
.wUrVib{
    color: #13a2ff;
}
.EZRelc{
    color: #13a2ff;
}
a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b{
    color: #13a2ff;
}